$charcoal: #ccc;
$dark-red: #b00;
$dark-red-focus: rgba(187, 0, 0, .5);
$error: #f08181;
$gray20: #333;
$red: #f00;
$snow: #fffafa;
$snow2: #eee9e9;
$success: #c7f282;
$warning: #f1e681;
$white: #fff;

$add-btn-color-bright: $red;
$add-btn-color-dark: $dark-red;
$add-btn-text-color: $snow;
$add-btn-text-hover-color: $snow2;
$body-background: $snow2;
$card-background-color: $snow;
$card-border-color: $gray20;
$img-border-color: $card-border-color;
$youtube-red: $red;
$youtube-red-dark: $dark-red;
$youtube-red-focus: $dark-red-focus;
$youtube-red-hover: $dark-red;
