@import '../../../css/colors';

.add-tube-btn {
  background-image: linear-gradient($add-btn-color-dark, $add-btn-color-bright, $add-btn-color-dark);
  border-radius: 15px;
  color: $add-btn-text-color;
  font-size: 3rem;
  height: 40px;
  margin: 10px;
  padding: 0 0 70px;
  text-align: center;
  transition: transform .2s;
  width: 72px;

  &:hover {
    color: $add-btn-text-hover-color;
    transform: scale(1.1);
  }
}

.m0 {
  margin: 0;
}

.table-head {
  font-weight: bold;
}

.videos-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.videos-header-text {
  font-weight: bold;
}

.videos-table {
  display: flex;
  justify-content: space-around;
}
