@import './css/colors';

a {
  color: $youtube-red;

  &:hover {
    color: $youtube-red-hover;
    text-decoration: none;
  }
}

body {
  background-color: $body-background;
  font-family: Roboto, Arial, sans-serif;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 2%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.btn-mb {
  margin-left: .5rem;
  margin-right: .5rem;
}

.btn-ml {
  margin-left: .5rem;
}

.btn-mr {
  margin-right: .5rem;
}

.btn-primary {
  background-color: $youtube-red;
  border: 1px solid $youtube-red;

  &:hover {
    background-color: $youtube-red-hover;
    border: 1px solid $youtube-red-hover;
  }

  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        background-color: $youtube-red-hover;
        border: 1px solid $youtube-red-hover;

        &:focus {
          box-shadow: 0 0 0 .2rem $youtube-red-focus;
        }
      }

      &:focus {
        box-shadow: 0 0 0 .2rem $youtube-red-focus;
      }
    }
  }
}

.btn-primary-outline {
  border: 1px solid $youtube-red;
  color: $youtube-red;

  &:hover {
    background-color: $youtube-red-hover;
    border: 1px solid $youtube-red-hover;
    color: $white;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem $youtube-red-focus;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity .75s linear;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.btn-flex-end {
  display: flex;
  justify-content: flex-end;
}

.tuber-form-heading {
  color: $youtube-red;
}

.tuber-form-label {
  color: $youtube-red-dark;
}
